body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

body {
  background-image: url("img/backimg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Header Style */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Cormorant Garamond";
  background: lightblue;
  padding: 10px 20px;
}

/* Ensure color is applied to .fix class */
.header .fix {
  font-family: "Cormorant Garamond";
  font-size: 50px; /* Increased font size */
  color: #926f34 !important; /* Use !important to enforce the color */
  margin-right: 30px;
}

.fix a {
  text-decoration: none;
  color: #926f34 !important;
  font-size:60px !important;
}

.head {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.head li {
  margin-right: 20px;
  display: inline;
}

.head a {
  text-decoration: none;
  color: #1d2d44;
  font-size: 20px;
  margin-right: 12px;
}

.head .ai {
  text-decoration: none;
  color: #1d2d44;
  font-size: 20px;
  margin-right: 3px;
  display: inline;
  line-height: 25px;
  top: 3px;
}

.dropdown {
  position: relative;
}

.dropdown .drop {
  font-size: 20px;
  border: none;
  outline: none;
  color: #1d2d44;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
  font-weight: 200px;
  font-family: "Cormorant Garamond";
}

.dropdown-menu {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0;
  list-style: none;
}

.dropdown-menu a {
  color: black;
  text-decoration: none;
  text-align: left;
  display: block;
  margin-right: 20px;
}

.dropdown a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.footer {
  background: lightblue;
  color: #1d2d44;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: left;
  font-weight: 200px;
}

.about {
	width: 27%;
	background-color: #a8dadc;
	border-radius: 15px;
    padding: 2%;
    margin: 1%;
    float: left; 
    height: auto;
    color: whitesmoke;

}

/* Slideshow CSS */
.rectangle-22 {
  background: #457b9d;
  height: 50px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;

}






